@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, sans-serif;
  background-color: lightgray;
}

#title, p, #img-caption, #headline, blockquote, #wikipedia {
  text-align: center;
}

#img-caption {
  padding-bottom: 20px;
  padding-top: 10px;
}

#img-div {
  background-color: lightgray;
  width: 80%;
  margin: auto;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

li {
  padding: 10px;
}

#tribute-info {
  width: 50%;
  margin: auto;
}

#tribute-link {
  color: black;
}

a::hover, a::visited {
  color: black;
}
